{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            <a href="#" rel="noreferrer" target="_blank" style="font-size: 9px;">© 2019 - BSol</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}